# Python Osnove - drugi dio

U ovoj bilješci/notebooku obradit ćemo sljedeće:

1. Lists - liste
2. Tuples - 
3. Dictionaries - uparene parove
4. Comprehension constructs
5. Functions in Python - Funkcije u Pythonu

In [28]:
alist = ['Tomica', 54, 'Marica', 78]

In [29]:
alist

['Tomica', 54, 'Marica', 78]

In [30]:
alist.append(help) # dodajemo listi u slučaju ovom funkciju pomoć (help)

In [31]:
alist

['Tomica',
 54,
 'Marica',
 78,
 Type help() for interactive help, or help(object) for help about object.]

In [32]:
help() # vrlo korisna funkcija za pomoć oko određenih funkcija ili samih modula

Welcome to Python 3.9's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.9/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> sum
Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

help> quit

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [39]:
blists = [
    ['Tomica', 54],
    ['Marica', 78]
]  # liste unutar liste, 2D liste - uparene varijable u redovima

In [40]:
blists

[['Tomica', 54], ['Marica', 78]]

In [41]:
blists[-1] # pristup listi unutar liste odostraga

['Marica', 78]

In [42]:
blists[-2][0] # pristup listi unutar liste odostraga i to informaciji na poziciji 0

'Tomica'

In [43]:
blists.append(['Prijo', 22]) # dodavanje liste uparenog para postojećoj listi
blists

[['Tomica', 54], ['Marica', 78], ['Prijo', 22]]

In [44]:
a = [0]*5 # lista nula umnožena pet puta
a

[0, 0, 0, 0, 0]

In [45]:
cols = 5
rows = 4
dlist = [[1]*cols]*rows # jedinice kao element u 5 stupaca u četiri reda

In [21]:
dlist

[[1, 1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1]]

In [48]:
# tuples - nepromjenjive liste - pokušaj promjene baca pogrešku
tup1 = ('Tomica', 78)
tup1[1] = 90

TypeError: 'tuple' object does not support item assignment

In [50]:
tup2 = ('Marica', 22) # udruživanje 
tup1 + tup2

('Tomica', 78, 'Marica', 22)

In [51]:
tup1

('Tomica', 78)

In [52]:
tup3 = tup1 + tup2 # spremanje pod novom varijablom

In [53]:
tup3

('Tomica', 78, 'Marica', 22)

In [54]:
len(tup3) # prikaz elemenata unutar tupl-a

4

In [55]:
# dictionary
country_code = {'India': 1, 'USA': 2, 'China': 3}
print(country_code)

{'India': 1, 'USA': 2, 'China': 3}

In [56]:
print(country_code['China'])

3

In [57]:
country_code['UAE'] = 4
print(country_code)

{'India': 1, 'USA': 2, 'China': 3, 'UAE': 4}

In [58]:
'Inda' in country_code

False

In [59]:
x = True
type(x)

bool

In [60]:
1 == 2

False

In [61]:
1 != 2

True

In [62]:
a = 1
b = 2
print(a == b)
print(a > b)
print(a < b)
print(a != b)

False
False
True
True

In [63]:
color = 'red'
if color == 'red':
    print("Color is red!")
    
print("Color problem is solved!!")

Color is red!
Color problem is solved!!

In [64]:
color = 'kjh'
if color == 'red':
    print("Color is red!")
    
else:
    print("color is not red!")
    
print("Color problem is solved!!")

color is not red!
Color problem is solved!!

In [65]:
color = 'green'
if color == 'red':
    print("Color is red!")
    
elif color == 'green':
    print("Color is green!")
    
else:
    print("color is not red!")
    
print("Color problem is solved!!")

Color is green!
Color problem is solved!!

In [66]:
age = 15
if age >= 18:
    print("Adult")
    
else:
    print("Juvenile")

Juvenile

In [67]:
a = 0
not(a)

True

In [68]:
a = 3
not(a)

False

In [69]:
a = True
not(a)

False

In [70]:
score = 76
percentile = 83

if score > 75 or percentile > 90:
    print("Admission successful!")
else:
    print("Try again next year")

Admission successful!

In [71]:
range(5)

range(0, 5)

In [72]:
for i in range(5):
    print(i)

0
1
2
3
4

In [73]:
for i in range(1, 10, 2):
    product = 8 * i
    print(product)

8
24
40
56
72

In [74]:
names = ('harshit', 'shubham', 'sahil')
for name in names:
    print(name.upper())

HARSHIT
SHUBHAM
SAHIL

In [75]:
age = [12,43,45,10]
i = 0
while i < len(age):
    if age[i] >= 18:
        print("Adult")
    else:
        print("Juvenile")
    i += 1

Juvenile
Adult
Adult
Juvenile

In [76]:
# list comprehension

cubes = [n** 3 for n in range(1,10)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [77]:
cubes = []
for i in range(1,10):
    cubes.append(i ** 3)
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [78]:
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

In [79]:
abs(2-5)

3

In [80]:
def add_two_numbers(a, b):
    sum = a + b
    return sum

In [81]:
add_two_numbers(5,11)

16

In [82]:
def fahr_to_celsius(temp):
    """
    This function converts temperature from fahrenheit
      to celsius.
      Args:
      -----
        tempInFahr: temperature in fahrenheit

      Returns:
      --------
        tempInCel: temperature in celsius
    """
    tempInCel = (temp - 32) * 5/9
    return tempInCel

In [83]:
fahr_to_celsius(50)

10.0